@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=VT323&display=swap');

body, html {
  margin: 0;
  height: 100%;
  background-color: #252D41 !important;
  color: #FDF5ED !important;
}

button {
  font-family : inherit;
  font-size: 1em;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2em !important;
  padding-left: 15px;
  color: #EF839D;
}
