@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=VT323&display=swap');

body, html {
  margin: 0;
  font-family: 'VT323', monospace;
  height: 100%;
}

button {
  font-family : inherit;
  font-size: 1em;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
